<div class="container mt-5">
  <form #emailForm="ngForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="form-group col-lg-3 col-6">
        <label for="from">From</label>
        <input required type="email" class="form-control" [ngClass]="from.valid ? '': 'bg-danger'" placeholder="Name"
          [(ngModel)]="email.from" name="from" #from="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      </div>
      <div class="form-group col-lg-3 col-6">
        <label for="to">To</label>
        <input required type="email" class="form-control" [ngClass]="to.valid ? '': 'bg-danger'" placeholder="Name"
          [(ngModel)]="email.to" name="to" #to="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      </div>
      <div class="form-group col-lg-3 col-6">
        <label for="subject">Subject</label>
        <input required maxlength="50" type="text" class="form-control" [ngClass]="subject.valid ? '': 'bg-danger'"
          placeholder="Subject Text" [(ngModel)]="email.subject" name="subject" #subject="ngModel">
      </div>
      <div class="form-group col-lg-3 col-6">
        <label for="body">Body</label>
        <input type="text" class="form-control" [ngClass]="body.valid || body.pristine ? '': 'bg-danger'"
          placeholder="Body Text" [(ngModel)]="email.body" name="body" #body="ngModel">
      </div>
    </div>
    <button class="btn btn-primary mr-1" type="submit" [disabled]="!emailForm.form.valid"> Submit </button>
    <button class="btn btn-primary" type="button" (click)="reset()"> Reset </button>
  </form>

  <div class="mt-3">
    <div class="row">
      <div class="col-6">
        <label for="textFilter">Filter by text</label>
        <input type="text" class="form-control" [(ngModel)]="textFilter" name="textFilter">
      </div>
      <div class="col-6">
        <label for="withBody">Only with body</label>
        <input type="checkbox" class="form-control" [(ngModel)]="withBody" name="withBody">
      </div>
    </div>
  </div>

  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Subject</th>
        <th scope="col">Body</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let email of emailsList | filter:textFilter | withBodyFilter:withBody">
        <td>{{ email.from }}</td>
        <td>{{ email.to }}</td>
        <td>{{ email.subject }} </td>
        <td>{{ email.body }} </td>
      </tr>
    </tbody>
  </table>

  <div class="alert alert-danger mt-3" *ngIf="!from.valid">
    <div *ngIf="from.errors?.required">From: email is required.</div>
    <div *ngIf="from.errors?.pattern">From: email does not match the required pattern.</div>
  </div>

  <div class="alert alert-danger mt-3" *ngIf="!to.valid">
    <div *ngIf="to.errors?.required">To: email is required.</div>
    <div *ngIf="to.errors?.pattern">To: email does not match the required pattern.</div>
  </div>

  <div class="alert alert-danger mt-3" *ngIf="!subject.valid">
    <div *ngIf="subject.errors?.required">Subject: text is required.</div>
  </div>

</div>
