<div class="container mt-5">
  <form>
    <div class="row">
      <div class="form-group col-lg-3 col-6">
        <label for="inputFrom">From</label>
        <input type="text" class="form-control" id="inputFrom" placeholder="Name">
      </div>
      <div class="form-group col-lg-3 col-6">
        <label for="inputTo">To</label>
        <input type="text" class="form-control" id="inputTo" placeholder="Name">
      </div>
      <div class="form-group col-lg-3 col-6">
        <label for="inputSubject">Subject</label>
        <input type="text" class="form-control" id="inputSubject" placeholder="Subject text">
      </div>
      <div class="form-group col-lg-3 col-6">
        <label for="inputBody">Body</label>
        <input type="text" class="form-control" id="inputBody" placeholder="Body text">
      </div>
    </div>
  </form>
  <section>
    <p>
      From: X
    </p>
    <p>
      To: Y
    </p>
    <p>
      Subject: EmailReader
    </p>
    <p>
      Body: Exercise: Create an Angular application
    </p>
  </section>
</div>
