<div class="container mt-5">
  <div class="row">
    <div class="form-group col-lg-3 col-6">
      <label for="inputFrom">From</label>
      <input appBackground type="text" class="form-control" placeholder="Name" [(ngModel)]="email.from" disabled>
    </div>
    <div class="form-group col-lg-3 col-6">
      <label for="inputTo">To</label>
      <input appBackground type="text" class="form-control" placeholder="Name" [(ngModel)]="email.to">
    </div>
    <div class="form-group col-lg-3 col-6">
      <label for="inputSubject">Subject</label>
      <input appBackground [style.background-color]="email.subject.length>50 ? 'red' : ''" type="text" class="form-control" placeholder="Subject Text" [(ngModel)]="email.subject">
    </div>
    <div class="form-group col-lg-3 col-6">
      <label for="inputBody">Body</label>
      <input appBackground type="text" class="form-control" placeholder="Body Text" [(ngModel)]="email.body">
    </div>
  </div>
  <section>
    <p>
      From: {{ email.from }}
    </p>
    <p>
      To: {{ email.to }}
    </p>
    <p>
      Subject: {{ email.subject }}
    </p>
    <p>
      Body: {{ email.body }}
    </p>
  </section>
  <button (click)="send()" class="btn btn-primary btn-sm mr-1">Send</button>
  <button (click)="clean()" class="btn btn-primary btn-sm">Clean</button>
  <div *ngIf="email.to == ''" class="alert alert-danger mt-3" role="alert">
    The field "To" is empty!
  </div>
</div>
